[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
pyroomacoustics = "*"
torchaudio = "*"
tqdm = "*"
matplotlib = "*"
h5py = "*"
jupyter = "*"
mpld3 = "*"
ffmpeg = "*"
soundfile = "*"
seaborn = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.2"
